.avatar_img {
	padding: 32px 54px 0 1272px;
}

.add_charges{
	display: flex;
	flex-direction: column;
	padding-top: 16px;
	padding-left: 72px;
}

.add_charges > span {
	align-self: flex-start;
	margin-bottom: 24px;
	font-size: 24px;
}

.add_charges input {
	border: 1px solid #374952;
	box-sizing: border-box;
	border-radius: 8px;
	width: 512px;
}

.add_charges select {
	border: 1px solid #374952;
	box-sizing: border-box;
	border-radius: 8px;
	padding: 12px 0 13px 24px;
	width: 512px;
}

.form_charges {
	background-color: #ffffff;
	border-radius: 16px;
	width: 958px;
}

.fill_form {
	display: flex;
	flex-direction: column;
	padding: 63px 223px 0px 223px;
	max-width: 512px;
}

.field_charges {
	display: flex;
	flex-direction: column;
	padding-bottom:32px;
}

.field_charges span {
	color: #374952;
	margin-bottom: 8px;
}

.field_charges input {
	padding: 12px 0px 13px 24px;
}

.valor_vencimento{
	display: flex;
	flex-direction: row;
	padding-bottom: 64px;
}

.valor_vencimento input {
	width: 247px;
}

.valor_vencimento .field_charges:first-child{
	padding-bottom: 0;
	padding-right: 16px;
}

.valor_vencimento .field_charges:last-child{
	padding-bottom: 0;
	padding-left: 0;
}

.buttons_form{
	padding-bottom: 67px;
	font-size: 14px;
	align-self: flex-end;
}

.button_form1{
	margin-right: 16px;
	border: 1.5px solid #DA0175;
	box-sizing: border-box;
	border-radius: 20px;
	padding: 11px 60px;
	color: #DA0175
}

.button_form2{
	background: rgba(218, 1, 117, 0.35);
    border-radius: 20px;
    padding: 11px 60px;
    color: #f7f7f7;
    font-weight: bold;
}
