.count_bank {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 18px;
}

.info {
  display: flex;
}

.balance_informations {
  display: flex;
  flex-direction: column;
  background-color: #374952;
  padding: 20px 24px;
  border-radius: 8px;
}

.balance_informations span {
  color: #fff;
}

.card_header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.balance {
  margin: 8px 0px 0px 8px;
  font-size: 20px;
}
