.main_menu_home {
  display: flex;
  flex-direction: column;
}

.main_menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 136px 0px 58px 0px;
  border-bottom: solid 2px #263238;
}

.menu_option {
  margin-right: 56px;
  padding-bottom: 12px;
  color: #263238;
}

.home_body_principal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.containers {
  display: flex;
  flex-direction: column;
  min-width: 410px;
}

.containers_header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: #374952;
  border-radius: 16px 16px 0px 0px;
  padding: 33px;
}

.containers_header span {
  color: #fff;
  font-size: 20px;
  margin-left: 18px;
}

.containers_body {
  background: #ffffff;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 16px 16px;
  padding: 40px 72px;
}

.style_containers_green {
  display: flex;
  justify-content: space-between;
  border: 2px solid #4ec06e;
  box-sizing: border-box;
  border-radius: 8px;
  color: #4ec06e;
  padding: 30px 16px;
  font-weight: 600;
}

.style_containers_red {
  display: flex;
  justify-content: space-between;
  border: 2px solid #ff4d4d;
  margin: 16px 0px;
  box-sizing: border-box;
  border-radius: 8px;
  color: #ff4d4d;
  padding: 30px 16px;
  font-weight: 600;
}

.style_containers_blue {
  display: flex;
  justify-content: space-between;
  border: 2px solid #5197b5;
  box-sizing: border-box;
  border-radius: 8px;
  color: #5197b5;
  padding: 30px 16px;
  font-weight: 600;
}
